html, body, #app {
  --at-apply: m-0 p-0;
}

.chat-box {
  --at-apply: h-full flex flex-col overflow-hidden max-w-2xl mx-auto;
  .message-list {
    --at-apply: flex-1 overflow-hidden;
  }
  .message-renderer {
    --at-apply: p-2 mb-3;
  }
  .message-input {
    --at-apply: flex flex-col gap-1;
    textarea {
      resize: none;
    }
  }
}